<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Post machine: {{ one_postmachine.city }} {{ one_postmachine.address }} <br>
Lockers: 
<br>
<br>
{% for one_locker in lockers %}
    <a href="/post_machine/{{ one_post_machine }}/{{ one_locker.pk }}/" > Locker {{ one_locker.pk }}</a> <!--посилання на посилку конкретну-->
    <br>
    size: {{ one_locker.size }} <br>
    status: 
    {% if one_locker.status == True %}
        locker is free
    {% else %}
        locker is not available
    {% endif %}
    
    <br>
    _____________
    <br>
{% endfor %}
</body>
</html>