<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for post_machine in post_machines %}
    <a href="/post_machine/{{ post_machine.pk }}/" > Post_machine {{ post_machine.pk }}</a> <!--посилання на поштомат конкретну-->
    <br>
    
    <select onchange="window.location.href=this.value">
        <option value="#">Select a city</option>
        {% for city in cities %}
            <option value="/post_machine/{{ post_machine.pk }}/city/{{ post_machine.city }}/">{{ post_machine.city }}</option>
        {% endfor %}
    </select>
    <br>
    address: {{ post_machine.address }} <br>
    
{#    city: {{ post_machine.city }} <br>#}
{#    <a href="/post_machine/{{ post_machine.pk }}/locker/{{ post_machine_lockers.pk }}/" > lockers of this pm </a> <!--посилання на комірки-->#}

    <br>
    <br>
    <br>
    _____________
    <br>
{% endfor %}
</body>
</html>